<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".bundle" mimeType="application/octet-stream" />
            <mimeMap fileExtension="." mimeType="application/octet-stream" />
            <mimeMap fileExtension=".version" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".bytes" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".br" mimeType="application/octet-stream" />
        </staticContent>
        <httpCompression>
            <scheme name="br" dll="%ProgramFiles%\IIS\IIS Compression\iisbrotli.dll" />
            <scheme name="gzip" dll="%ProgramFiles%\IIS\IIS Compression\iiszlib.dll" />
        </httpCompression>
    </system.webServer>
</configuration>
